.A{
    background-color:lightpink;
}

.B{;
    background-color: powderblue;
}

.C{
    background-color: silver;
}

.D{
    background: lightgreen;
}

.E{
    background-color:yellow;
}